<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warehouse Manager Dashboard</title>
    {% comment %} <link rel="stylesheet" href="{% static 'css/styles.css' %}"> {% endcomment %}
</head>
<body>
    <div class="container">
        <h2>Welcome to the Warehouse Manager Dashboard</h2>
        <p>Here you can view inventory, manage stock, and more.</p>
        <a href="{% url 'user_logout' %}">Logout</a>
    </div>
</body>
</html>
